<div class="iniciar-sesion-container">
    <h2>Iniciar Sesión</h2>
    <form class="iniciar-sesion-form">
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required>
      </div>
      
      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>
      </div>
      
      <button type="submit" class="btn-iniciar-sesion">Iniciar Sesión</button>
    </form>
  </div>
  