<div class="publicar-propiedad-container">
  <h1>Publicar Propiedad</h1>
  <form (ngSubmit)="onSubmit($event)">
    <label for="nTitle">Título de la propiedad:</label>
    <input type="text" id="nTitle" [(ngModel)]="property.title" name="nTitle" required>

    <label for="direction">Dirección:</label>
    <input type="text" id="direction" [(ngModel)]="property.city" name="direction" required>

    <!-- Campo para seleccionar la ubicación -->
    <label for="city">Ciudad:</label>
    <select id="city" [(ngModel)]="selectedCity" name="city" required>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>

    <label for="availability">Disponibilidad:</label>
    <select id="availability" [(ngModel)]="property.availability" name="availability">
      <option value="Disponible">Disponible</option>
      <option value="No disponible">No disponible</option>
    </select>


    <label for="description">Descripción:</label>
    <textarea id="description" [(ngModel)]="property.description" name="description" required></textarea>


    <label for="type">Tipo de Propiedad:</label>
    <input type="text" id="type" [(ngModel)]="property.type" name="type" required>

    <!-- Campo de texto para características adicionales -->
    <label for="features">Características adicionales:</label>
    <textarea id="features" [(ngModel)]="property.additioFeatures" name="features" ></textarea>

    <!-- Campo para seleccionar el número de habitaciones -->
    <label for="rooms">Número de habitaciones:</label>
    <select id="rooms" [(ngModel)]="selectedRooms" name="rooms" required>
      <option *ngFor="let room of rooms" [value]="room">{{ room }}</option>
    </select>

    <label for="capacity">Capacidad:</label>
    <input type="number" id="capacity" [(ngModel)]="property.capacity" name="capacity" required min="1">

    <label for="price">Precio (S/.):</label>
<input type="number" id="price" [(ngModel)]="property.price" name="price" required min="0" step="0.01">

    <label for="images">Imágenes:</label>
    <input type="file" id="images" (change)="onFileSelected($event)" multiple accept="image/*" required>

    <button type="submit">Publicar Propiedad</button>
    <button type="button" (click)="regresar_publicarAmain()">Regresar</button>
  </form>
</div>