<!-- src/app/detalle-vivienda/detalle-vivienda.component.html -->
<div class="detalle-container">
  <h1>Detalles de la Vivienda</h1>
  <p>ID: {{ vivienda.id }}</p>
  <h2>{{ vivienda.nombre }}</h2>
  <p>{{ vivienda.descripcion }}</p>
  <p>Precio: ${{ vivienda.precio }}</p>
  <p>Servicios: {{ vivienda.servicios.join(', ') }}</p>
  <p>Teléfono: {{ vivienda.telefono }}</p>
  <img [src]="vivienda.qrImage" alt="Código QR" class="qr-imagen">
  
  <!-- Botón para regresar a la lista de viviendas -->
  <div class="boton-regresar-container">
    <button (click)="regresar()" class="regresar-button">Regresar a Listado de Viviendas</button>
  </div>
</div>
