/* src/app/detalle-vivienda/detalle-vivienda.component.css */
.detalle-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.detalle-imagen {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.qr-imagen {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin-top: 10px;
}

h2 {
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
}

.boton-regresar-container {
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  margin-top: 20px; /* Espaciado superior */
}

.regresar-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.regresar-button:hover {
  background-color: #0056b3;
}
