<div class="container">
  <h2>Propiedades Publicadas:</h2>

  <!-- Mensaje cuando no hay propiedades -->
  <div *ngIf="propiedades.length === 0" class="message">
    Aún no tienes propiedades registradas.
  </div>

  <div *ngIf="propiedades.length > 0">
    <div class="propiedad-list">
      <!-- Lista de propiedades -->
      <div *ngFor="let propiedad of propiedadesVisibles" class="propiedad-card">
        <div class="propiedad-info">
          <div class="propiedad-img">
            <img [src]="propiedad.imagen" alt="Imagen de la Propiedad" />
          </div>
          <div class="propiedad-details">
            <h3>{{ propiedad.titulo }}</h3>
            <p>{{ propiedad.ubicacion }}</p>
            <p>S/. {{ propiedad.precio }}</p>
            <p>Estado: <strong>{{ propiedad.estado }}</strong></p>
          </div>
        </div>

        <div class="propiedad-actions">
          <!-- Botón para editar los detalles -->
          <button (click)="editarDetalles(propiedad.propertyId)">Editar Detalles</button>

          <!-- Botón de Confirmar Alquiler, visible solo si la propiedad está en estado "Reservada" -->
          <button *ngIf="propiedad.estado === 'Reservada'" (click)="confirmarAlquiler(propiedad.propertyId)">
            Confirmar Alquiler
          </button>

          <!-- Botón de Anular Reservación, visible solo si la propiedad está en estado "Reservada" -->
          <button *ngIf="propiedad.estado === 'Reservada'" (click)="anularReservacion(propiedad.propertyId)">
            Anular Reservación
          </button>

          <!-- Botón de Finalizar Alquiler, visible solo si la propiedad está en estado "Alquilada" -->
          <button *ngIf="propiedad.estado === 'Alquilada'" (click)="finalizarAlquiler(propiedad.propertyId)">
            Finalizar Alquiler
          </button>
        </div>
      </div>
    </div>

    <!-- Botón para cargar más propiedades -->
    <div class="pagination" *ngIf="propiedades.length > propiedadesVisibles.length">
      <button (click)="mostrarMas()">Mostrar más</button>
    </div>
  </div>

  <div class="go-back">
    <button type="button" (click)="irAPaginaMain()" class="btn-regresar">Regresar</button>
  </div>
</div>
